#root {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;
    padding: 1rem;
    gap: 1rem;
    box-sizing: border-box;
    font-family: Inter, sans-serif;

    background-image: linear-gradient(to bottom, #E0E9FF, #B7FFC6);
}

* {
    margin: 0;
}


.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.smallGap {
  gap: 0.5rem;
}

.mediumGap {
  gap: 1rem;
}

.largeGap {
  gap: 2rem;
}

.smallPadding {
    padding: 0.5rem;
}

.mediumPadding {
    padding: 1rem;
}

.largePadding {
    padding: 2rem;
}

.hoverEffect:hover {
    box-shadow: 0 4px 8px 2px #aeeae1;
    transition: box-shadow 0.3s ease-in-out;
}

/*DARK MODE*/
@media (prefers-color-scheme: dark) {
    #root {
        color: #ff9187;
        background-image: linear-gradient(to bottom, #2c2c2c, #18231a);
    }

    .hoverEffect:hover {
        box-shadow: 0 4px 8px 2px #0b3d32;
    }
}


/* BREAKPOINT 1: 640PX */


/* BREAKPOINT 2 */
@media (min-width: 768px) {
    #root {
        gap: 1.2rem;
    }
}

/* BREAKPOINT 3 */
@media (min-width: 1024px) {
    #root {
        gap: 1.4rem;
    }
}

/* BREAKPOINT 4 */
@media (min-width: 1280px) {
    #root {
        gap: 1.8rem;
    }
}