body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    background-color: #2e2e2e;
    border-radius: 15px;
    width: 40%;
    height: 30%;
    padding: 20px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    flex: 0 1 20%;
    background-color: red;
    border-radius: 15px;
    color: aliceblue;
    font-weight: bold;
}

.item :nth-child(1) {
    flex-grow: 1;
}