@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Olá!!</h1>
    <p>Assessment de Desenvolvimento Web com .NET e Bases de Dados [25E2_4]</p>
</div>