.icon {
    display: flex;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Jersey 10', sans-serif;
    color: #661B1C;
}

.start, .end {
    transition: transform 1s ease;
}

.remove {
    animation: fadeOut 1s 2s forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        display: none;
    }
}

.icon .start {
    animation: moveRight 1s 2s forwards;
}

@keyframes moveRight {
    to {
        transform: translateX(1px);
    }
}

