@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --raisin-black: #1B222C;
    --rich-black: #12151C;
    --rosewood: #721219;
    --fire-engine-red: #D10F15;
    --anti-flash-white: #ECECEC;
}

* {
    margin: 0;
}

#content-container {
    width: 100%;
    gap: 100px;
    background-color: var(--rich-black);
    color: var(--anti-flash-white);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#to-top-button {
    position: absolute;
}

/*--HEADER + NAV--*/
header {
    height: 5rem;
    gap: 60%;
    border-radius: 0 0 16px 16px;
}

#icon:hover {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    font-size: 1.3rem;
    gap: 2rem;
}

a {
    text-decoration: none;
    color: var(--anti-flash-white);
}

a:hover {
    color: var(--fire-engine-red);
    text-decoration: underline;
    font-weight: bolder;
}

/*--MAIN > About Me Section---*/
main {
    gap: 400px;
}

#about-me{
    width: 60%;
    height: 35rem;
    justify-content: space-between;
}

#photo-gradient-container {
    width: 22rem;
    height: 22rem;
}

#gradient {
    width: 22rem;
    height: 22rem;
    background: radial-gradient(50% 50% at 50% 50%, var(--rosewood) 0%, var(--rich-black) 100%);
}

#photo {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    z-index: 1;
}

#name-title {
    bottom: 2rem;
    z-index: 2;
}

#description {
    width: 56rem;
    text-align: center;
    font-size: 1.5rem;
}

/* MAIN > Habilities Section*/
#habilities{
    width: 70%;
    height: 55rem;
    gap: 4rem;
    border-radius: 16px;

    box-shadow: 0 0 0.8rem var(--rosewood);
}

.tech-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.tech-type-title {
    font-size: 1.5rem;
    text-decoration: underline;
}

.tech-container {
    display: flex;
    gap: 3rem;
}

.tech {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

svg {
    fill: var(--rosewood);
}

g {
    fill: var(--rosewood);
}

.tech-icon-container{
    width: 7rem;
}

.tech-name {
    font-size: 1.2rem;
}

/* MAIN > PROJECTS */
#projects{
    height: 50rem;
    gap: 2.5rem;
}

#projects > p {
    font-size: 1.5rem;
    text-decoration: underline;
}

#repos-container {
    width: 100rem;
    height: 16rem;
    gap: 2rem;
    overflow-x: scroll;
}

article {
    width: 30rem;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 0 0.5rem var(--rosewood);
}

article:first-child {
    margin-left: 178rem;
}

article > a {
    text-decoration: underline;
}

article > header {
    width: 25rem;
    text-overflow: ellipsis;
    gap: 0.5rem;
}

.limited-text {
    width: 23rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* FOOTER */
#page-footer {
    height: 7rem;
    gap: 1rem;
    border-radius: 16px 16px 0 0;
}

#social-grid {
    gap: 3rem;
}

.social-icon {
    width: 2.5rem;
}

/* Estilos reutilizáveis -- Visual */
.background-highlight {
    background-color: var(--raisin-black);
}

.jersey-red {
    font: normal 4rem "Jersey 10", sans-serif;
    color: var(--fire-engine-red);
}

.underline {
    text-decoration: underline;
}

/* Estilos reutilizáveis -- Estrutural */
.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}