@page "{id:int}"
@model AssessmentApp.Pages.Reservations.DetailsModel

@{
    ViewData["title"] = "Detalhes da reserva";
}

<h1>@ViewData["title"]</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
           Cliente
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Client.Email)
        </dd>
        <dt class="col-sm-2">
            Pacote Turístico
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.TravelPackage.Title)
        </dd>
        <dt class="col-sm-2">
            Data da Reserva
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.ReservationDate)
        </dd>
    </dl>
</div>