@page
@model TestePerformance2.Pages.SaveNotesModel
@{
	ViewData["Title"] = "Salvar Nota";
}


<div>
    <form method="post">
        <div class="form-group">
            <label asp-for="Input.Content"></label>
            <br/>
            <textarea asp-for="Input.Content"></textarea>
            <span asp-validation-for="Input.Content" class="text-danger"></span>
        </div>

        <button type="submit">Salvar Nota</button>
    </form>

    @if (Model.FileSaved)
    {
        <div>
            <p>Nota salva com sucesso!</p>
            <a href="@Model.DownloadLink">Baixe a nota aqui.</a>
        </div>
    }

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</div>