header{
    background-color: #F0F8FFFF;
    height: 25rem;
}

nav{
    background-color: #F08080FF;
    height: 25rem;
}

section{
    background-color: #F5DEB3FF;
    height: 25rem;
}

main {
    background-color: #7FFFD4FF;
    height: 25rem;
}

article{
    background-color: #00FFFFFF;
    height: 25rem;
}

footer {
    background-color: #8A2BE2FF;
    height: 25rem;
}