.researchCard {
    width: 36rem;
    max-height: 10rem;

    padding: 1rem;
    gap: 0.5em;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px #33333333;
}

.researchCard > * {
    margin: 0;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
}

.hiddenTextOverflow {
    overflow: hidden;
    text-overflow: ellipsis;
}