.repoContainer {
    background-image: radial-gradient(50% 50% at 50% 50%, #ffffff93 0, #ffffff5b 100%);
    border: 2px solid #fff;
    border-radius: 4rem;
    box-sizing: border-box;

    font-size: 1rem;
    font-weight: 300;
    padding: 2rem;
    width: 100%;
}

.repoContainer h3 {
    font-weight: 400;
}

.repoContainer div {
    width: 100%;
}

.repoContainer button {
    align-self: flex-end;
}


/*DARK MODE*/
@media (prefers-color-scheme: dark) {
    .repoContainer {
        background-image: radial-gradient(50% 50% at 50% 50%, #000519 0, #0000009e 100%);
        border: 2px solid #0016659e;
    }
}

/* BREAKPOINT 1: 640PX */
@media (min-width: 640px) {
    .repoContainer button {
        width: 20%;
    }
}

/* BREAKPOINT 2 */
@media (min-width: 768px) {
    .repoContainer button {
        font-size: 0.9rem;
    }
}

/* BREAKPOINT 3 */
@media (min-width: 1024px) {
    .repoContainer button {
        max-width: 15%;
    }
}

/* BREAKPOINT 4 */
@media (min-width: 1280px) {
    .repoContainer button {
        max-width: 10.63rem;
    }
}