div{
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}

li > a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.6rem;
}

img {
    width: 1.5rem;
    height: 1.5rem;
}