div{
    padding: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0;
    gap: 1rem;
    list-style: none;
    width: 25rem;
    height: 25rem;
    background-color: #B0C4DEFF;
    border-radius: 15px;
}

li > a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.6rem;
}

img {
    width: 1.5rem;
    height: 1.5rem;
}