@model List<Product>
@{

}


<h2>Produtos cadastrados</h2>

<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Nome</th>
			<th>Preço</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
		<tr>
			<td>@item.Id</td>
			<td>@item.Description</td>
			<td>@item.Price.ToString("C")</td>
		</tr>
		}
	</tbody>
</table>
