#form-container{
    display: flex;
}

ul {
    padding: 0;
    width: 100%;
}

li {
    display: flex;
    align-items: center;
    width: 16rem;
    gap: 1rem;
}

p {
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}