@font-face {
    font-family: 'Matemasie';
    src: url('fonts/Matemasie-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'NewAmsterdam';
    src: url('fonts/NewAmsterdam-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Sevilliana';
    src: url('fonts/Sevillana-Regular.ttf') format('truetype');
}

p:nth-child(2){
    font-family: 'Matemasie', sans-serif;
}

#p2{
    font-family: 'NewAmsterdam', sans-serif;
}

.p3{
    font-family: 'Sevilliana', sans-serif;
}